.contact-container {
    position: relative;
    justify-content: center;
    display: flex;
}

.dark-mode {
    justify-items: center;
    color: "white";
}

a {
    text-decoration: none;
    color: var(--primary);
}

.vector1 {
    position: absolute;
    top: -34px;
    right: 0px;
    cursor: pointer;
}

.vector2 {
    position: absolute;
    left: 0px;
    bottom: -96px;
    cursor: pointer;
}
